common: &default_settings
  app_name: <%= application %>

  # Logging level for log/<%= application %>.log
  log_level: info

development:
  <<: *default_settings

test:
  <<: *default_settings
  
production:
  <<: *default_settings
