$:.unshift(File.expand_path(File.join(File.dirname(__FILE__), "lib")))
require "<%= application %>"

<%= application_base %>::Service.run! :port => <%= application_base %>.config[:port], :host => <%= application_base %>.config[:host]