source 'http://gems.sd.laxino.com'
#source 'http://rubygems.org'

# gem 'd13n', '<%= D13n::VERSION::STRING %>'

gem 'rake'

group :test do
  gem 'simplecov'
  gem 'rspec'
  gem 'rspec-nc'
  gem 'factory_bot'
  gem 'rack-test'
  gem 'faker'
  gem 'as-duration'
end